<div class="row">
  <form>
    <div class="row collapse">

      <div class="large-10 small-8 columns">
        <%= form_tag jamsessions_path, method: :get do %>
        <%= text_field_tag :query, params[:query] %>
      </div>
      <div class="large-2 small-3 columns">
        <%if current_user %>
        <%= submit_tag "Search", class: "postfix button expand", id: "homepage-search-button-sign-in", name: nil %>
        <% else %>
        <%= submit_tag "Search", class: "postfix button expand", id: "homepage-search-button", name: nil %>
        <% end %>
        <% end %>
      </div>
    </div>
  </form>3
</div>


<% @jamsessions.each do |jam| %>
  <p><%= link_to jam.title, jamsession_path(jam) %></p>
  <p><%= jam.address %></p>
<% end %>
