<p>Title: <%= @jamsession.title %></p>
<p>Where: <%= @jamsession.location %></p>
<p>What: <%= @jamsession.description %></p>
<p>When: <%= @jamsession.date %></p>
<p>Present Instruments: <%= @jamsession.present_instrument %></p>
<p>Desired Instruments: <%= @jamsession.desired_instruments %></p>


location "123 Main Street, Allston, MA 02135"
description "This is a jam session where we will get funky."
sequence(:date) { |n| Date.today + n.months }
present_instrument "Bassoon"
desired_instruments "Oboe, clarinet, tuba"
