<!DOCTYPE html>
<html>
<head>
  <title>Jams</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <% if current_user %>
      <li><%= "Signed in as #{current_user.nickname}" %></li>
      <li><%= link_to "Profile", user_path(current_user.id) %></li>
    <% else %>
      <li><%= link_to "Sign in with Soundcloud", "/auth/soundcloud" %></li>
    <% end %>
  </div>

  <% flash.each do |key, value| %>
  <div data-alert class="flash flash-<%= key %> alert-box">
    <%= value %>
  </div>
  <% end %>

<%= yield %>

</body>
</html>
